:root {
  --marquee-width: 80vw;
  --marquee-height: 15vh;
  --marquee-elms-displayed: 4;
  --marquee-elms-width: calc(var(--marquee-width) / var(--marquee-elms-displayed));
  --marquee-duration-animation: calc(var(--marquee-elms) * 3s);
}

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--bg);
  text-align: left;
}

div a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.35em;
}

.btn-primary a {
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-size: 1.1rem;
}

.btn-primary a:hover,
.btn-primary a:focus {
	outline: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: 700;
}

p {
  margin-top: 0;
}

.container,
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.ul-defaults-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

 .header-lg {
  font-size: 5rem;
  letter-spacing: -2.5px;
  line-height: 1.05;
 }

 .header-md {
  font-size: 3rem;
  letter-spacing: -2px;
 }

 .sub-header {
  font-size: 1.3125rem;
  letter-spacing: -.5px;
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
 }

 .btn-primary a {
	line-height: 44px;
	perspective: 1000px;
    color: white;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3)
}


.btn-primary a span {
	position: relative;
	display: inline-block;
	padding: 5px 25px;
	background: linear-gradient(45deg, #007BFF, #00C6FF);
	transition: transform 0.3s;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
    border-radius: 5px;
}

.btn-primary a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	content: attr(data-hover);
	transition: background 0.3s;
	transform: rotateX(-90deg);
  transform-style: preserve-3d;
	transform-origin: 50% 0;
    border-radius: 5px;
    text-align: center;
    padding: 5px 25px;
    background: linear-gradient(45deg, #e72424, #FF7F00);
}

.btn-primary a:hover span,
.btn-primary a:focus span {
	transform: rotateX(90deg) translateY(-22px);
}

.btn-primary a:hover span::before,
.btn-primary a:focus span::before {
	background: linear-gradient(45deg, #e72424, #FF7F00);	
}
  
  .submit-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(45deg, #007BFF, #00C6FF);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  
  .submit-btn::before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #e72424, #FF7F00);
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  
  .submit-wrapper:hover .submit-btn {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  .submit-wrapper:hover .submit-btn::before {
    background: linear-gradient(45deg, #e72424, #FF7F00);
  }
  
