.theme-panel {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 100;
  transition: 0.4s;
  transform: translateX(100%);
}

.theme-body {
  background: linear-gradient(90deg, #e72424, #ff7f00);
  border: transparent;
  max-width: 185px;
  padding: 15px 13px;
  text-align: center;
  border-bottom-left-radius: 25px;
  position: relative;
}

.theme-body > span {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.9px;
  line-height: 26px;
  padding-bottom: 8px;
  display: inline-flex;
}

.theme-body .btn-group {
  box-shadow: 0 12px 34px rgba(22, 28, 45, 0.2);
  border-radius: 33px;
  background-color: white;
  overflow: hidden;
  display: flex;
  max-width: 153px;
}

.theme-body .btn-group .switcher-btn {
  background: transparent;
  border: none;
  width: 50%;
  font-size: 11px;
  font-weight: 700;
  height: 42px;
  padding-left: 15px;
  padding: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.theme-body .btn-group .switcher-btn.active {
  background-color: #dfc1c1;
}

.theme-panel.open {
  transform: translateX(0);
}

.theme-body .theme-tab {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;
  border: 0;
  background: #e72424;
  color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  left: 1px;
}

.theme-tab i {
  font-size: 1rem;
  transition: 0.4s;
  pointer-events: none;
}

.theme-panel.open .theme-tab i {
  transform: scaleX(-1);
}

#toggle-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

#toggle-btn i {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--color-headings);
  height: 2.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
}

#toggle-btn .open-icon {
  display: block;
}
#toggle-btn .close-icon {
  display: none;
}
#toggle-btn.open .open-icon {
  display: none;
}
#toggle-btn.open .close-icon {
  display: block;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav .main-menu {
margin: 0;
padding-right: 1rem;
display: flex;
gap: 1rem;
list-style-type: none;
}

.navbar-nav .nav-item {
  color: var(--color-headings);
  text-decoration: none;
  cursor: pointer;
}

.brand-logo a h2 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.42;
}

.hero-content {
  text-align: center;
  padding: 5.5rem 0;
}

.code-icon {
  background-color: #e72424;
  color: black;
  padding: 1.25rem 1.5rem;
  border-radius: 50rem;
  display: inline-block;
  margin-bottom: 2.5rem;
  text-align: center;
}

.code-icon .fa-code {
  font-size: 2rem;
  display: inline-block;
  line-height: 1.5;
}

/* .main-menu {
  display: flex;
}

.main-menu .nav-item {
  padding: 18px;
  line-height: 26px;
  cursor: pointer;
} */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal,
.full-site-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.modal-dialog {
  max-width: 800px;
  max-height: 80vh;
  background: var(--bg-panel);
  color: var(--color-text-base);
  overflow: hidden;
  padding: 1.25rem 1.85rem;
  border-radius: 5px;
  cursor: default;
}

.modal-header {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.modal-dialog .modal-header h3 {
  color: var(--color-text-base);
}

.modal-header .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
}

.modal-header .fa-times:hover {
  transition: scale(1.1);
  cursor: pointer;
}

.full-site-modal.is-visible,
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal-body .img-wrapper {
  max-width: 300px;
  margin-right: 0.75rem;
}
.modal-body .img-wrapper img {
  height: 150px;
}

#about .img-wrapper img {
  max-width: 300px;
}
#about .img-wrapper img {
  width: 100%;
  object-fit: contain;
  height: 300px;
  border: 5px solid #e72424;
  animation: wobbly 5s ease-in-out alternate infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
.contact-me .email {
  color: cornflowerblue;
  font-size: 1.4rem;
  text-transform: lowercase;
}

.search-container label {
  align-items: center;
  position: relative;
  display: inline-flex;
}

.container.search-container > label > i {
  padding-left: 1rem;
}

.search-input {
  padding: 0.75rem 1.5rem;
  background-color: #f1f3f5;
  border: 1px solid #f1f3f5;
  border-radius: 50rem;
}

.search-input:focus {
  outline: none;
  border-color: #4dabf7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
}

.search-input .fa-search {
  position: absolute;
  right: 10px;
}

.portfolio-filter-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio-filter-nav .filter-link {
  padding: 0 1rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 1.63px;
  font-weight: 700;
}

.portfolio-filter-nav .filter-link:hover {
  cursor: pointer;
}

.portfolio-filter-nav .filter-link.active {
  color: #e72424;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.portfolio-card {
  position: relative;
  margin: 0 1rem 1.85rem;
  max-width: 255px;
}

.card-body {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3)
}

.card-body img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.card-popup-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  opacity: 0;
}

.card-popup-box:before {
  position: absolute;
  content: "";
  background: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 8px;
}

.portfolio-card:hover .card-popup-box {
  bottom: 20px;
  opacity: 1;
  cursor: pointer;
}

.card-popup-box div {
  color: var(--color-text-opacity);
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

.card-popup-box h3 {
  pointer-events: none;
  color: var(--color-headings);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0;
}

.top-footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, rgb(255 255 255 / 10%), rgb(0, 0, 0, 10%), rgba(255, 255, 255, 0.1));}
.top-footer > div > a {
  font-size: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.top-footer > div > span,
.top-footer > .social-icons > ul > li > a{
  color: var(--color-text);
}

.top-footer > .social-icons > ul > li {
  list-style-type: none;
}
.follow,
.social-icons > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btm-footer {
  font-size: 1.3ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

[data-animation="zoomInOut"].full-site-modal {
  transform: scale(0.2);
}
[data-animation="slideInOutTop"].modal-dialog {
  opacity: 0;
  transition: all 0.5s;
}

[data-animation="slideInOutTop"].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutTop"].modal-dialog {
  transform: translateY(-100%);
}

[data-animation="zoomInOut"].full-site-modal.is-visible,
[data-animation="slideInOutTop"].is-visible .modal-dialog {
  transform: none;
}

@-webkit-keyframes wobbly {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes wobbly {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
