:root {
    --bg: #fff;
    --bg-panel: #fff;
    --color-headings: #161c2d;
    --color-text-opacity: rgba(22, 28, 45, .7);
    --color-text: #161c2d;
    --color-text-base: #161c2d;
    --border: #383f53;

}

[data-theme="light"] .hero-bg {
    background-image: url(../assets/hero-pattern.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

[data-theme="light"] nav {
    background: linear-gradient(to bottom, #797979, #ffff 30%);

}

[data-theme="dark"] {
    --bg: #171a23;
    --bg-panel: #f1f1f1;
    --color-headings: #fff;
    --color-text-opacity: rgba(255, 255, 255, .7);
    --color-text: #fff;
    --color-text-base: #161c2d;
    --border: #ced4da;
    
}

[data-theme="dark"] nav {
    background-image: url(../assets/hero-pattern.webp);
    background: linear-gradient(to bottom, #0f1117, #171a23 40%);
}