.page-block {
    background: var(--bg);
}

#about .modal-body,
#contact .modal-body {
    padding: 2rem;
    flex-wrap: wrap;
}

#about .img-wrapper {
    flex: 1;
    text-align: center;
    max-width: initial;
    margin-right: 0;
}

#about .img-wrapper img {
    max-width: 200px;
    border-radius: 50%;
}

.about-text {
    flex: 1;
}

.about-text p,
.about-text .contact-me {
    font-size: 1.2rem;
}

#contact .modal-body {
    display: block;
}

.contact-text {
    padding-bottom: 3.5rem;
}

.folio-form .form-control {
    display: block;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    max-width: 500px;
    width: 100%;
    color: var(--color-text);
    padding: 0 0 5px 0;
    line-height: 26px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border);
    outline: none;
    background-color: transparent;
}



.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    overflow: hidden;
    margin: 2rem auto;
    position: relative;
}
.marquee-content {
    list-style: none;
    display: flex;
    height: 100%;
    animation: scrolling var(--marquee-duration-animation) linear  infinite;
}

.marquee-content li {
    width: var(--marquee-elms-width);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: calc(var(--marquee-height) * 3 / 4);
}

.marquee:before,
.marquee:after {
    position: absolute;
    height: 100%;
    top: 0;
    content: "";
    z-index: 1;
    width: 12rem;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
}
.marquee:after {
    right: 0;
    background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% {transform: translateX(calc(-1 * var(--marquee-elms-width) * var(--marquee-elms)));}
}

@media (max-width: 991px) {
    #about .img-wrapper,
    #about .about-text {
        flex: initial;
        margin: auto;
    }
    .page-block { text-align: center;}
}
@media (max-width: 768px) {
    :root {
        --marquee-width: 100%;
        --marquee-elms-displayed: 1
    }
    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}
@media (max-width: 450px) {
    :root {
--marquee-elms-displayed: 1;
--marquee-width: 25vw;
--marquee-height: 11vh;
    }
    .about-text p,
    .contact-text p {
        font-size: 1rem;;
    }
    .modal-header {
        font-size: .75rem;
    }
    .contact-text h2 {
        font-size: 2rem;
    }
    .marquee {
        font-size: .1rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .marquee:before,
    .marquee:after {
        width: 2rem;
    }
}